<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:oscache="http://www.springmodules.org/schema/oscache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 设置自动组件加载扫描 -->
	<context:component-scan base-package="com.matt.damon.springmvc.*" />

	<!-- Exception 处理, 方式一 -->
	<bean id="mdExceptionHandler" class="com.matt.damon.core.info.MDExceptionResolver" />

	<!-- AOP log interceptor -->
	<bean id="logInterceptor" class="com.matt.damon.core.info.LogInterceptor"></bean>
	<!-- AOP 配置 -->
	<aop:config>
		<aop:pointcut id="logPointCut"
			expression="execution(public * com.matt.damon.springmvc.service.*.*(..))" />
		<aop:aspect id="logAOP" ref="logInterceptor">
			<aop:around method="around" pointcut-ref="logPointCut" />
		</aop:aspect>
	</aop:config>

	<!-- import hibernate config -->
	<import resource="spring-hibernate.xml" />
</beans>